.fa-square-linkedin {
  font-size: 40px;
  color: #0a66c2;
}


*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:#f8f8f8;
color:#000;
display:flex;

}

.sidebar{

width:260px;
height:100vh;
background:white;
position:fixed;
left:0;
top:0;
text-align:center;
box-shadow:0 0 20px rgba(0,0,0,.15);
transition:.4s;
z-index:999;

}

.profile{

width:170px;
height:170px;
border-radius:50%;
margin-top:30px;
border:6px solid #4CAF50;
object-fit:cover;

}

.sidebar h2{

margin:20px;
}

.sidebar nav{

display:flex;
flex-direction:column;

}

.sidebar nav a{

padding:18px;
text-decoration:none;
font-weight:bold;
color:black;
transition:.4s;

}

.sidebar nav a:hover{

background:#4CAF50;
color:white;
padding-left:30px;

}

.content{

margin-left:260px;
width:100%;

}

section{

min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
padding:60px;
opacity:0;
transform:translateY(70px);
transition:1s;

}

section.show{

opacity:1;
transform:translateY(0);

}

#home h1{

font-size:55px;
margin-bottom:20px;

}

.typing{

color:#4CAF50;
font-weight:bold;

}


#home{

position:relative;
overflow:hidden;

}

#home::before{

content:"";
position:absolute;
width:100%;
height:100%;

background:url(background.png);

background-size:cover;
background-position:center;

opacity:.12;

z-index:-1;

}

.home-box{

background:white;
padding:40px;
border-radius:20px;
box-shadow:0 0 25px rgba(0,0,0,.1);

animation:zoom 2s infinite alternate;

}







#about{

position:relative;
overflow:hidden;

}

#about::before{

content:"";
position:absolute;
width:100%;
height:100%;

background:url(images/about-bg.png);

background-size:cover;
background-position:center;

opacity:.12;

z-index:-1;

}

.about-box{

background:white;
padding:40px;
border-radius:20px;
box-shadow:0 0 25px rgba(0,0,0,.1);

animation:zoom 2s infinite alternate;

}









.card{

background:white;
padding:30px;
margin:20px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,.15);
transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.skill-box{

display:flex;
gap:15px;
flex-wrap:wrap;

}

.skill-box span{

padding:15px 25px;
background:#4CAF50;
color:white;
border-radius:30px;
font-weight:bold;
transition:.3s;

}

.skill-box span:hover{

transform:scale(1.1);

}

@keyframes zoom{

100%{

transform:scale(1.03);

}

}

.menu-btn{

display:none;
position:fixed;
left:20px;
top:20px;
font-size:28px;
background:white;
padding:10px;
cursor:pointer;
box-shadow:0 0 15px rgba(0,0,0,.2);
z-index:1000;

}

@media(max-width:900px){

.sidebar{

left:-270px;

}

.sidebar.active{

left:0;

}

.menu-btn{

display:block;

}

.content{

margin-left:0;

}

}